body {
  font-family: Arial, sans-serif;
  background: url(sky.jpg.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 320px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #201d1d;
}
.form-group {
  margin-bottom: 15px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.submit {
  width: 100%;
  padding: 15px;
  background: #0be6a1;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}

.submit:hover {
  background: #07da40;
}
